@import "./index.scss";


#hogwarts{
    background-color: $default-main;
    color: $default-text;
    button{
        background-color: $default-button;
        color: $default-main;
    }
    button:hover{
        background-color: $default-buttonhov;
    }
    .oval{
      background-color: $default-main;
    }
    .theme-selector-title{
      color: $default-text;
    }
    #technologies{
      border: 5px solid $default-main-opa;
    }
    #technologies::before{
      background-color: $default-main;
      color: $default-main-opa;
    }
    #portfolio{
      border: 5px solid $default-main-opa;
      .portfolio-item {
        .buttons{
          .link{
            background-color: $default-button;
            color: $default-main;
          }
          .link:hover{
            background-color: $default-buttonhov;
          }
        }
     }
    }
    #portfolio::before{
      background-color: $default-main;
      color: $default-main-opa;
    }
    #portfolio::after{
      background-color: $default-main;
      color: $default-main-opa;
    }
    #about{
      border: 5px solid $default-main-opa;
    }
    #about::before{
      background-color: $default-main;
      color: $default-main-opa;
    }
}
#gryffindor{
  background-color: $gryffindor-main;
  color: $gryffindor-text;
  .oval{
    background-color: $gryffindor-main;
  }
  .theme-selector-title{
    color: $gryffindor-text;
  }
  #technologies{
    border: 5px solid $gryffindor-main-opa;
  }
  #technologies::before{
    background-color: $gryffindor-main;
    color: $gryffindor-main-opa
  }
  #portfolio{
    border: 5px solid $gryffindor-main-opa;
    .portfolio-item {
      .buttons{
        .link{
          background-color: $gryffindor-button;
          color: $gryffindor-text;
        }
        .link:hover{
          background-color: $gryffindor-buttonhov;
        }
      }
   }
  }
  #portfolio::before{
    background-color: $gryffindor-main;
    color: $gryffindor-main-opa;
  }
  #portfolio::after{
    background-color: $gryffindor-main;
    color: $gryffindor-main-opa;
  }
  #about{
    border: 5px solid $gryffindor-main-opa;
  }
  #about::before{
    background-color: $gryffindor-main;
    color: $gryffindor-main-opa;
  }
}
#slytherin{
  background-color: $slytherin-main;
  color: $slytherin-text;
  .oval{
    background-color: $slytherin-main;
  }
  .theme-selector-title{
    color: $slytherin-text;
  }
  #technologies{
    border: 5px solid $slytherin-main-opa;
  }
  #technologies::before{
    background-color: $slytherin-main;
    color: $slytherin-main-opa;
  }
  #portfolio{
    border: 5px solid $slytherin-main-opa;
    .portfolio-item {
      .buttons{
        .link{
          background-color: $slytherin-button;
          color: $slytherin-text;
        }
        .link:hover{
          background-color: $slytherin-buttonhov;
        }
      }
   }
  }
  #portfolio::before{
    background-color: $slytherin-main;
    color: $slytherin-main-opa;
}
#portfolio::after{
  background-color: $slytherin-main;
  color: $slytherin-main-opa;
}
#about{
  border: 5px solid $slytherin-main-opa;
}
#about::before{
  background-color: $slytherin-main;
  color: $slytherin-main-opa;
}
}
#ravenclaw{
  background-color: $ravenclaw-main;
  color: $ravenclaw-text;
  .oval{
    background-color: $ravenclaw-main;
  }
  .theme-selector-title{
    color: $ravenclaw-text;
  }
  #technologies{
    border: 5px solid $ravenclaw-main-opa;
  }
  #technologies::before{
    background-color: $ravenclaw-main;
    color: $ravenclaw-main-opa;
  }
  #portfolio{
    border: 5px solid $ravenclaw-main-opa;
    .portfolio-item {
      .buttons{
        .link{
          background-color: $ravenclaw-button;
          color: $ravenclaw-text;
        }
        .link:hover{
          background-color: $ravenclaw-buttonhov;
        }
      }
   }
  }
  #portfolio::before{
    background-color: $ravenclaw-main;
    color: $ravenclaw-main-opa;
  }
  #portfolio::after{
      background-color: $ravenclaw-main;
      color: $ravenclaw-main-opa;
  }
  
#about{
  border: 5px solid $ravenclaw-main-opa;
}
#about::before{
  background-color: $ravenclaw-main;
  color: $ravenclaw-main-opa;
}
}
#hufflepuff{
  background-color: $hufflepuff-main;
  color: $hufflepuff-text;
  .oval{
    background-color: $hufflepuff-main;
  }
  .theme-selector-title{
    color: $hufflepuff-text;
  }
  #technologies{
    border: 5px solid $hufflepuff-main-opa;
  }
  #technologies::before{
    background-color: $hufflepuff-main;
    color: $hufflepuff-main-opa;
  }
  #portfolio{
    border: 5px solid $hufflepuff-main-opa;
    .portfolio-item {
      .buttons{
        .link{
          background-color: $hufflepuff-button;
          color: $hufflepuff-text;
        }
        .link:hover{
          background-color: $hufflepuff-buttonhov;
        }
      }
   }
  }
  #portfolio::before{
    background-color: $hufflepuff-main;
    color: $hufflepuff-main-opa;
  }
  #portfolio::after{
    background-color: $hufflepuff-main;
    color: $hufflepuff-main-opa;
  }
  #about{
    border: 5px solid $hufflepuff-main-opa;
  }
  #about::before{
    background-color: $hufflepuff-main;
    color: $hufflepuff-main-opa;
  }
}
#welcome-page{
    height: 100svh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5em;
    h1{
        margin-top: 3em;
        font-family: Welcome-Header, sans-serif;
        font-size: clamp(4em, 10vw ,15em);
        margin-bottom: 0.1em;
    }
    h1 span:nth-child(1){
      animation: secretPara 1s linear;
    }
    h1 span:nth-child(2){
      animation: secretPara 2.4s linear;
    }
    h1 span:nth-child(3){
      animation: secretPara 3.1s linear;
    }
    h1 span:nth-child(4){
      animation: secretPara 1.7s linear;
    }
    h1 span:nth-child(6){
      animation: secretPara 1s linear;
    }
    h1 span:nth-child(7){
      animation: secretPara 4s linear;
    }
    h1 span:nth-child(8){
      animation: secretPara 3.5s linear;
    }
    h1 span:nth-child(9){
      animation: secretPara 1.7s linear;
    }
    h1 span:nth-child(10){
      animation: secretPara 2.4s linear;
    }
    h1 span:nth-child(11){
      animation: secretPara 3.1s linear;
    }
    h2{
        font-family: Welcome-Header, sans-serif;
        font-size: clamp(2em, 5vw ,7.5em);
        animation: secretPara 5s ease-out;
    }
}
#navbar{
  padding-top: 2em;
  display: flex;
  position: absolute;
  width: 100svw;
  justify-content: center;
  align-items: center;
  #theme-selector{
    border-radius: 50%;
    .crest{
      width: fit-content;
      border: 2px solid white;
      position: relative;
     
      .houses{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        .house-crest{
          width: 100px;
          height: 100px;
          transition: 0.5s;
          cursor: pointer;
          display: grid;
          justify-content: center;
          align-items: center;
            .house-logo{
              width: 55px;
            }
         }
        .house-crest:hover{
          z-index: 1;
          transform: scale(1.2);
          transition: transform 0.5s;
          border: 2px solid white;
        }
        .gryffindor{
          border-right: 5px solid $default-main;
          border-bottom: 5px solid $default-main;
          background-color: $gryffindor-main;
        }
        .slytherin{
          border-left: 5px solid $default-main;
          border-bottom: 5px solid $default-main;
          background-color: $slytherin-main;
        }
        .ravenclaw{
          border-right: 5px solid $default-main;
          border-top: 5px solid $default-main;
          background-color: $ravenclaw-main;
        }
        .ravenclaw::after{
          content: "";
          background-color: $ravenclaw-main;
          width: 30px;
          height: 30px;
          position: absolute;
          left: 3%;
          bottom: -8%;
          z-index: 10;
          rotate: -45deg;
          border-bottom: 2px solid white;
          border-left: 2px solid white;
          transition: none;
        }
        .ravenclaw:hover::after{
          left: 4%;
          bottom: -13%;
          width: 20px;
          height: 20px;
          transition: none;
          border-bottom: 2px solid white;
          border-left: 2px solid white;
        }
        .hufflepuff{
          border-left: 5px solid $default-main;
          border-top: 5px solid $default-main;
          background-color: $hufflepuff-main;
        }
        .hufflepuff::after{
          content: "";
          background-color: $hufflepuff-main;
          width: 30px;
          height: 30px;
          position: absolute;
          right: 2%;
          bottom: -8%;
          rotate: -45deg;
          border-bottom: 2px solid white;
          border-left: 2px solid white;
          transition: none;
        }
        .hufflepuff:hover::after{
          right: 4%;
          bottom: -13%;
          width: 20px;
          height: 20px;
          transition: none;
          border-bottom: 2px solid white;
          border-left: 2px solid white;
        }
      }
      .oval{
        width: 50px;
        height: 130px;
        border-radius: 50%;
        position:absolute;
        z-index:100000;
    }
    .top{
      height: 70px;
      rotate: 90deg;
      left: 36%;
      top: -20%;
      border-right: 5px solid white;
    }
    .right{
      top: 15%;
      left: -14%;
      border-right: 5px solid white;
    }
    .left{
      top: 15%;
      right: -14%;
      border-left: 5px solid white;
    }
    .H{
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      font-size: 48px;
      color: $default-text;
      font-family: Welcome-Header, sans-serif;
      background-color: $default-main;
      width:52px;
      text-align: center;
      z-index: 100;
      cursor: pointer;
      border: 2px solid white;
    }
    
    .H:hover{
      z-index: 1;
      transform: scale(1.2);
      transition: 0.5s;
      transform-origin: 50% 50%;
      bottom: 35%;
      left: 36%;
    }

  .theme-selector-title{
    position: absolute;
    font-family: Welcome-Header, sans-serif;
    font-size: 28px;
    left: 20%;
    margin-top: 0.3em;
    padding: 0.2em;
    border-radius: 5%;
  }
    }
  }

}
#technologies{
  display: flex;
  gap: clamp(1em, 3vw ,5em);
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 clamp(0.5em, 2vw, 4em);
  padding: clamp(1em, 3vw, 3em);
  position: relative;
  .badge{
    .tech-logo{
      width: clamp(2em, 20vw, 7em);
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      transition: filter 1s;
    }
    :hover{
      filter: none;
      transition: filter 0.5s;
    }
  }
}
#technologies::before{
  content: "Tech Stack";
  position: absolute;
  top: -0.6em;
  left: 5%;
  font-size: clamp(2em, 5vw ,7.5em);
}
#portfolio{
  position: relative;
  margin: 10rem clamp(0.5em, 2vw, 4em);
  padding: clamp(1em, 3vw, 3em);
  .portfolio-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 5em 0;
      .portfolio-gif{
        width: clamp(230px, 30vw ,480px);
        height: fit-content;
        object-fit: contain;
        filter: grayscale(100%);
        position: relative;
        transition: filter 1s;

        border: 10px solid;
        border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
        animation: borderRotate var(--d) linear infinite forwards;
      }
      .portfolio-gif:hover{
        width: clamp(230px, 30vw ,480px);
        filter: grayscale(0%);
        transition: filter 1s;
        animation-play-state: paused;
      }
      .petiweb-gif:hover{
        content: url(../images/portfolioGif/petiweb.webp);
      }
      .waldo-gif:hover{
        content: url(../images/portfolioGif/whereiswaldo.webp);
      }
      .shop-gif:hover{
        content: url(../images/portfolioGif/webshop.webp);
      }
      .wallet-gif:hover{
        content: url(../images/portfolioGif/pennypal.gif);
      }
      .portfolio-item-summary{
        .title{
          font-size: clamp(2em, 3vw ,3em);
          font-weight: bold;
          letter-spacing: 3px;
          margin-bottom: 0.3em;
        }
        .description{
          font-size: clamp(1.3em, 2vw ,2em);
          font-weight: 500;
          .not-in-used-text{
            font-size: smaller;
            font-style: italic;
          }
          }
        .buttons{
          display: flex;
          justify-content: flex-end;
          margin-top: 1em;
          .link{
            margin-right: 2em;
            padding: 0.5em;
            font-size: 24px;
            border-radius: 10%;
          }
        }
      }
  }

}
#portfolio::before{
  content: "Portfolio";
  position: absolute;
  top: -0.6em;
  left: 5%;
  font-size: clamp(2em, 5vw ,7.5em);
}
#portfolio::after{
  content: "More project on my GitHub.";
  position: absolute;
  bottom: -0.4em;
  right: 5%;
  font-size: clamp(1em, 2vw ,3em);
}
#about{
  margin: 5em clamp(0.5em, 2vw, 4em);
  padding: clamp(1em, 3vw, 3em);
  position: relative;
  font-size: clamp(1.3em, 2vw ,2em);
  .spell{
    position:relative;
    top: 10px;
    margin: 10px;
    font-family: spellFont;
    letter-spacing: 5px;
  }
}
#about::before{
  content: "About";
  position: absolute;
  top: -0.6em;
  left: 5%;
  font-size: clamp(2em, 5vw ,7.5em);
}
#footer{
  position: relative;
  .footer-svg{
    position: relative;
    top: 10px;
    
  }
  .footer-content{
    background-color: black;
    width: 100%;
    position: relative;
    padding-bottom: 7em;

    .footer-title{
      padding-top: 3em;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .title-lock{
        display: flex;
        flex-direction: column;
        align-items: center;
        .lock-img{
          margin: 2em;
          width: clamp(2em, 10vw, 5em);
          cursor: pointer;
        }
        .shake{
          animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        }
      }
      .contact-img{
        width: clamp(2em, 10vw, 5em);
      }
      .restricted{
        font-size: clamp(2em, 5vw ,7.5em);
        color: white;
      }
    }
    .secret-input{
      text-align: center;
      width: 10em;
      padding: 0.5em;
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -80%);
      font-size: x-large;
      letter-spacing: 0.5em;
      background-color: transparent;
      color: white;
      outline: none;
      box-shadow: none;
      border: none;
      font-family: spellFont;
      font-weight: bold;

    }
    .secret-input:focus{
      outline: none;
      border-bottom: 3px solid white;
    }
  }
  #secret-tip{
    position: fixed;
    bottom: 0%;
    right: 0%;
    width: fit-content;
    color: white;
    text-align: center;
    border-radius: 30%;
    padding: 0.5em;
    margin: 0em;
    font-size: clamp(1em, 7vw ,4.5em);
    line-height: 1.5em;
    font-family: spellFont;
    animation: invis 3s linear;
  }
}

#secret{ 
  overflow: hidden;
  padding: clamp(1em, 3vw, 3em);
  background-color: black;
  color: white;
  font-family: boba;
  opacity: 1;
  h3{
    font-size: clamp(2em, 5vw ,7.5em);
    margin-bottom: 0.5em;
    animation: secretTitle 2s linear;
  }
  #secret-welcome{
   font-size: 1.5em;
  }
  p{
    line-height: 1.2em;
    font-size:clamp(0.8em, 2vw ,2em);
    animation: secretPara 3s linear;
  }
}

@keyframes secretTitle{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
@keyframes secretPara{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
@keyframes invis{
  0%, 100%{
    opacity: 0;
  }
  25%, 75%{
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}




 
